<h1 class="text-3xl">Listing Users</h1>

<table class="mb-6 w-full">
    <%= for user <- @users do %>
        <tr>
            <td class="border-b text-left"><%= render "user.html", user: user %></td>
            <td class="border-b text-left"><%= link "View", to: Routes.user_path(@conn, :show, user.id) %>
        </tr>
    <% end %>
</table>
